@model Freebie.ViewModels.ChangePassword
@{
    ViewBag.Title = "EnterNewPassword";
    Layout = "~/Views/Shared/_ForgetPassword.cshtml";
}
<div class="title pink-text" style="margin-bottom:40px;">
	<span>ตั้งค่ารหัสผ่านใหม่</span>
</div>
<div class = "content-area">
     @using (Html.BeginForm("EnterNewPassword", "Users", FormMethod.Post, new { @id = "webfront-forget-username-form", @class = "form-horizontal" }))
     {
          if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="alert alert-error">
					    @Html.ValidationSummary()           
                </div>
            }
         <input type="hidden" name = "Ref" value ="@ViewBag.Ref"/>
         <div class="control-group">
		        <label class="control-label" for="First_Name" style="text-align:left;">
				     รหัสผ่านใหม่ของคุณ:
		        </label>
		        <div class="controls">
			        @Html.Password("New_Password")               
		        </div>           
	     </div>
         <div class="control-group">
		        <label class="control-label" for="First_Name" style="text-align:left;">
				     กรุณายืนยันรหัสผ่านใหม่ของคุณ:
		        </label>
		        <div class="controls">
			        @Html.Password("Confirm_New_Password")               
		        </div>             
	     </div>
         
         <div style="text-align:center;">
		      <input type="submit" id="change-password-submit" value="ตกลง" class="btn btn-primary btn-blue"/>
	     </div>
     }
</div>
@Html.Partial("~/Views/Shared/_Sidebanner.cshtml")
