@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_ForgetPassword.cshtml";
}

    @if (ViewBag.Step == 1) {
        <div class="title pink-text" style="margin-bottom:40px;">
	        <span>กรอกอีเมล์เพื่อแจ้งขอรหัสผ่านใหม่</span>
        </div>
        <div class = "content-area">
            @using (Html.BeginForm("ForgotPassword", "Users", FormMethod.Post, new { @id = "webfront-forget-password-form", @class = "form-horizontal" }))
            {
             <div class="control-group">
		        <label class="control-label" for="Email" style="text-align:left;">
				        อีเมล์:
		        </label>
		        <div class="controls">
			        @Html.Editor("Email")               
		        </div>
                @Html.ValidationMessage("Email")
            </div>
             <div style="text-align:center;">
		        <input type="submit" id="register-profile-submit" value="ตกลง" class="btn btn-primary btn-blue"/>
	        </div>
            }
        </div>
    } else
    { 
        <div class="title" style="margin-bottom:20px;">
	        <span>ตั้งค่ารหัสผ่านใหม่</span>
        </div>
        <div class = "content-area">
            @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { @id = "webfront-forget-password-form", @class = "form-horizontal" }))
            {
                 <div class="control-group">
		            <label class="control-label" for="First_Name" style="text-align:left;">
				        รหัสผ่านใหม่ของคุณ:
		            </label>
		            <div class="controls">
			            @Html.Password("New_Password")               
		            </div>
	            </div>
                <div class="control-group">
		            <label class="control-label" for="First_Name" style="text-align:left;">
				        กรุณายืนยันรหัสผ่านใหม่ของคุณ:
		            </label>
		            <div class="controls">
			            @Html.Password("Confirm_Password")               
		            </div>
	            </div>
                 <div style="text-align:center;">
		            <input type="submit" id="register-profile-submit" value="ตกลง" class="btn btn-primary btn-blue"/>
	            </div>
            }
        </div>
    
    }
    @Html.Partial("~/Views/Shared/_Sidebanner.cshtml")

