@model Freebie.Models.Account 
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AccInfo.cshtml";
}

<div class="title pink-text" style="margin-bottom:0;">
	<span style="font-size: 14px;">เปลี่ยนรหัสผ่าน:</span>
</div>
<div class = "content-area" style="padding:40px 0 0 20px;">
@using (Html.BeginForm("ChangePassword", "AccInfo", FormMethod.Post, new { @id = "webfront-acc-update-password-form", @class = "form-horizontal", style = "width:100%;" }))
{	
    
    <div class="control-group">
		<label class="control-label" for="Password" style="text-align:left;">
				รหัสผ่านเดิมของคุณ:
		</label>
		<div class="controls">
			@Html.Password("Password")               
		</div>
        @Html.ValidationMessage("Password")
	</div>
    <div class="control-group">
		<label class="control-label" for="New_Password" style="text-align:left;">
				รหัสผ่านใหม่ของคุณ:
		</label>
		<div class="controls">
			@Html.Password("New_Password")               
		</div>
         @Html.ValidationMessage("New_Password")
	</div>	
    <div class="control-group">
		<label class="control-label" for="Confirm_Password" style="text-align:left;">
				กรุณายืนยันรหัสผ่านใหม่ของคุณ:
		</label>
		<div class="controls">
			@Html.Password("Confirm_Password")          
		</div>
     
	</div>	
    <div style="text-align:center;">
		<input type="submit" id="register-profile-submit" value="บันทึก" class="btn btn-primary btn-blue"/>
	</div>
}
</div>
 @Html.Partial("~/Views/Shared/_Sidebanner.cshtml")
