@{
    string action_name = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    string[] number_menus = new string[] { "ViewNumber", "AddNumber", "VerifySubrNumber" };
    string[] profile_menus = new string[] { "ViewAccProfile", "UpdateAccProfile" };  
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Freebie - ฟรีบี้ *115 โทรฟรี</title>
    <script type="text/javascript">
          var base_url = '@Url.Content("~/")';
    </script>
	@Styles.Render("~/Content/bootstrap.css")
	@Styles.Render("~/Content/bootstrap-responsive.css")
	@Styles.Render("~/Content/Freebie.css")
    @Styles.Render("~/Content/freebie-style.css")
	 @Styles.Render("~/Content/jquery-ui-1.10.3.custom.css")
	@Scripts.Render("~/Scripts/jquery-1.9.1.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.10.3.custom.js")
    @Scripts.Render("~/Scripts/quota.js")
    @Scripts.Render("~/Scripts/disable_autocomplete.js")
	@*@Scripts.Render("~/Scripts/bootstrap.js")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/account_profile.js")
    @Scripts.Render("~/Scripts/google_analytics.js")
</head>
<body>


    <div style='width:960px;margin:auto;'>
        <div style='margin: 20px 20px 0 0;text-align:right;'>
            <span>ชื่อผู้ใช้: </span><span class = "pink-text" style="font-weight:bold;">@HttpContext.Current.User.Identity.Name </span>
            @Html.ActionLink("ออกจากระบบ", "Logout", "Users", null ,new { @class = "btn btn-small btn-warning" })
        </div>    
    </div>
    <div style='clear:both;'></div>
    <div id="header">
        <div id="innerheader">
            @Html.Partial("~/Views/Shared/_Header.cshtml")
            @Html.Partial("~/Views/Shared/_Topbanner.cshtml")
			
        </div>
    </div>
	<div id="wrapper">
        <div class="page-title">
			<h3 class="center-text pink-text">ข้อมูลสมาชิก</h3>
	    </div>
        <div class="clear"></div>
		<div id="content">
             <div class="accInfo-menu" id="accInfo-page-nav">
			  <ul class="backend-acct-menu">
				<li class = "@(action_name == "Index" ? "active" : "")">
					<span>
                        @Html.ActionLink("ข้อมูลบัญชีสมาชิก", "Index", "AccInfo")
                    </span>
				</li>
				<li class = "@(number_menus.Contains(action_name) ? "active" : "")">
					<span>
                        @Html.ActionLink("ข้อมูลเบอร์โทรศัพท์", "ViewNumber", "AccInfo")
                    </span>
				</li>
                <li class = "@(profile_menus.Contains(action_name) ? "active" : "")">
					<span>
                        @Html.ActionLink("ข้อมูลประวัติสมาชิก", "ViewAccProfile", "AccInfo")
                    </span>
				</li>
                <li class = "@(action_name == "ChangeUsername" ? "active" : "")">
					<span>
                        @Html.ActionLink("เปลี่ยนชื่อผู้ใช้", "ChangeUsername", "AccInfo")
                    </span>
				</li>
                <li class = "@(action_name == "ChangePassword" ? "active" : "")">
					<span>
                        @Html.ActionLink("เปลี่ยนรหัสผ่าน", "ChangePassword", "AccInfo")
                    </span>
				</li>
			  </ul>
              @if (ViewBag.ViewProfile != null)
              {
                  <div class="register-step-quota-container Shadow">
                      <div>
                            <div class="register-step-quota-text center-text">
                                <div style="margin-bottom:20px;"><p>สิทธิ์โทรฟรี:</p></div>
                                <div class="register-quota-type-container" style="margin-left:15px">
                                    <div class="Rounded" style="border: 1px solid #808285;">
                                        <div class="register-quota-type-text">
                                            <div class="center-text">
                                                <p style="padding-top:5px;">โทรฟรี</p>
                                                <p><span id="preview-quota-freq" class ="pink-text" style="font-size: 22px; font-weight:bold;">0</span>  </p>
                                                <p style="padding-bottom:5px;">ครั้งต่อวัน</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="register-quota-type-container" style="margin-left:20px;margin-right:15px;">
                                    <div class="Rounded" style="border: 1px solid #808285;">
                                        <div class="register-quota-type-text">
                                            <div class="center-text">
                                                <p style="padding-top:5px;">โทรฟรี </p>
                                                <p><span id="preview-quota-dur" class ="pink-text" style="font-size: 22px; font-weight:bold;">0</span></p>
                                                <p style="padding-bottom:5px;"> นาทีต่อครั้ง</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear" style="height:30px;"></div>
                                <div class="meter-gauge">
                                    <div id="mark-min-quota">0</div>
                                    <div id="mark-mid-quota">0</div>
                                    <div id="mark-max-quota">0</div>
                                    <img id= "meter-gauge-img" src="@Url.Content("~/Images/register/dial_0.png")" width="120" height="120">
                                </div>
                                <div class="meter-footer">
                                        <p>นาทีโทรฟรีต่อ</p>
                                        <p>เดือน</p>
                                </div>
                            </div>
                      </div>
                  </div>
                }
			</div>	
			<div class="tab-content" id="register-tab-content" style="padding:0 0 20px 20px;">
					@RenderBody()
			</div>
            <div class="clear"></div>
        </div>
	</div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    @Html.Partial("~/Views/Shared/_GoogleScripts.cshtml")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
