@model IEnumerable<Freebie.Models.Quota>
@{
    ViewBag.Title = "UpdateBaseQuota";
    ViewBag.PageName = "ตั้งค่าโควต้าการโทร";
    Layout = "~/Areas/Backend/Views/Shared/_Backend.cshtml";
    string role_cd = (Session["Role"] == null) ? "" : Session["Role"].ToString();
    bool has_permission = role_cd.Equals("AM");  
}
<style>
    input {width:50px;}
</style>
<div class="backend-table-title">
	<span>รายการโควต้าการโทร</span>       
</div>
@if (has_permission)
{
<div style="margin: 20px 20px 0 20px;">
@using (Html.BeginForm("UpdateBaseQuota", "AdminConfig", FormMethod.Post, new { @id = "webfront-acc-update-form", @class = "form-horizontal", style = "width:100%;" }))
{		
    <table class="border-table" style="width:500px;text-align:center;">
        <thead>
                <tr style="background:#00EEDD;">
                    <th style="width:80px;">ลำดับที่</th>
                    <th style="width:150px;">ชื่อโควต้า</th>
                    <th style="width:100px;">ความถี่ต่อวัน</th>
                    <th style="width:170px;">ระยะเวลาต่อครั้ง (นาที)</th>
                </tr>
        </thead>
        @{var count = 1;}
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="line-height:40px;">
                    <td>@count</td>
                    <td style="text-align:left;">
                        @if (@count == 1)
                        { @Html.Raw("Low Quota")}
                        else
                        {
                            if (@count == 2)
                            { 
                                @Html.Raw("Medium Quota")
                            }
                            else
                            {
                                if (@count == 3)
                                { @Html.Raw("High Quota") }
                            }
                        }
                    </td>
                    <td>
                        <input class="text-box single-line" style="text-align:center;" id="Quota_Freq_Val_@item.Quota_Cd" name="Quota_Freq_Val_@item.Quota_Cd" type="text" value="@item.Quota_Freq_Val">
                    </td>
                    <td>
                        <input class="text-box single-line" style="text-align:center;" id="Quota_Freq_Dur_@item.Quota_Cd" name="Quota_Dur_Val_@item.Quota_Cd" type="text" value="@item.Quota_Dur_Val">
                    </td>
                </tr>
                        count++;
            }
        </tbody>
    </table>
    <div style="text-align:center;width:500px;margin-top:20px;">
				<input type="submit" id="register-profile-submit" value="บันทึก" class="btn btn-primary btn-blue"/>
    </div>
}
</div>
}
else
{ 
    @Html.Partial("~/Views/Statics/PermissionDenied.cshtml")
}